<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailfish.authorization.mapper.OauthAccessTokenMapper">

    <select id="findOauthAccessToken" resultType="com.sailfish.authorization.model.OauthAccessToken">
        select * from oauth_access_token where token_id = #{accessToken}
    </select>

</mapper>
